<h1>見出し生成デモ</h1>


<div class="headline">
  <h2> {{ generatedHeadline }} </h2>
</div>

<mat-form-field style="width: 100%;">
<mat-label>Post Edit</mat-label>
<textarea matInput
cdkTextareaAutosize
cdkAutosizeMinRows="1"
[(ngModel)]="postEditHeadline">
</textarea>
<button mat-button
        (click)="onClickComplete()">
  Complete
</button>
</mat-form-field>

<!-- <app-samples (event)="receiveArticle($event)"></app-samples> -->

<!-- <mat-form-field style="width: 100%;">                   -->
<!--   <mat-label>記事を入力する</mat-label>          -->
<!--   <textarea matInput                                    -->
<!--             cdkTextareaAutosize                         -->
<!--             cdkAutosizeMinRows="3"                      -->
<!--             [(ngModel)]="text" (input)="onKey($event)"> -->
<!--   </textarea>                                           -->
<!-- </mat-form-field>                                       -->

<!-- <app-input (inputEvent)="receiveInput($event)"     -->
<!--            (keywordEvent)="receiveKeyword($event)" -->
<!--            [setParentText]="text">                 -->
<!-- </app-input>                                       -->
<app-input (inputEvent)="receiveInput($event)"
           (keywordEvent)="receiveKeyword($event)">
</app-input>

<!-- <div contentEditable="true"></div> -->

<!-- <mat-checkbox class="model-mode" [formControl]="isTruthful">忠実な見出しを生成</mat-checkbox> -->
<!-- <mat-checkbox class="model-mode" [formControl]="isLengthControl">見出しの長さを指定</mat-checkbox> -->

<form *ngIf="isLengthControl.value">
  <mat-form-field>
      <mat-label>生成する見出しの長さ</mat-label>
    <input 
      matInput
      type="number"
      [value]="length"
      (change)="onNumKey($event)"
    >
  </mat-form-field>
</form>

<div *ngIf="keywords.length">
  <p>Selected Keywords</p>
  <ul>
    <li *ngFor="let keyword of keywords">
      {{ keyword }}
    </li>
  </ul>
<div>
